Repository alexandro-aguilar/PlantWaterPlanner: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn format

.lintstagedrc.json:

{
  "**/*.ts": ["yarn lint:fix", "yarn format"],
  "**/*.{json,md,mdx}": ["yarn format"]
}

feat: add identify service
  .yarn/install-state.gz
  .yarnrc.yml
  iac/core/BaseLambdaFunction.ts
  iac/core/Environment.ts
  iac/lambda/GeneratePlanLambdaProps.ts
  iac/lambda/IdentifyPlantLambda.ts
  iac/plant_water_planner_core-stack.ts
  iac/s3/PlantWaterPlannerBucket.ts
  package.json
  src/core/utils/Environment.ts
  src/modules/plan/app/IdentifyPlantUseCase.ts
  src/modules/plan/config/container.ts
  src/modules/plan/config/types.ts
  src/modules/plan/infrastructure/services/OpenAiService.ts
  src/modules/plan/infrastructure/services/PlantImageAnalizeOpenAi.ts
  src/modules/plan/infrastructure/services/S3Service.ts
  src/modules/plan/interface/controllers/GeneratePlanController.ts
  src/modules/plan/interface/controllers/IdentifyPlantController.ts
  src/modules/plan/interface/handlers/GeneratePlanHandler.ts
  src/modules/plan/interface/handlers/IdentifyPlantHandler.ts
  yarn.lock
Due: yarn lint:fix, yarn format

feat: add identify feature
  iac/lambda/IdentifyPlantLambda.ts
  src/core/utils/Environment.ts
  src/modules/plan/app/IdentifyPlantUseCase.ts
  src/modules/plan/infrastructure/services/S3Service.ts
Due: yarn lint:fix, yarn format

chore: update prompt to use english only and respond in json format only
  src/modules/plan/infrastructure/services/PlantImageAnalizeOpenAi.ts
Due: yarn lint:fix, yarn format

chore: update prompt to add sunlight preference, delete useless code in useCase and update env template
  .env.template
  src/modules/plan/app/IdentifyPlantUseCase.ts
  src/modules/plan/infrastructure/services/PlantImageAnalizeOpenAi.ts
Due: yarn lint:fix, yarn format

docs: update startup docs
  README.md
Due: yarn format

chore: update dependencies
  .gitignore
  commitlint.config.js
  package.json
Due: yarn format

chore: add husky pre commit and commit
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: add generateUrl
  iac/lambda/GenerateS3PresginedUrl.ts
  src/core/utils/Environment.ts
  src/modules/presignedUrl/GenerateUrl.ts
  src/modules/presignedUrl/config/container.ts
  src/modules/presignedUrl/config/types.ts
Due: yarn lint:fix, yarn format

chore: add presigned url dependency
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: yarn format

feat: presigned url
  PlantWaterPlanner.postman_collection.json
  iac/lambda/GenerateS3PresignedUrlLambda.ts
  iac/plant_water_planner_core-stack.ts
  iac/s3/PlantWaterPlannerBucket.ts
  src/core/utils/Environment.ts
  src/modules/presignedUrl/interface/handlers/GenerateS3PresignedUrlHandler.ts
Due: yarn lint:fix, yarn format

chore: update upload image service
  iac/lambda/GenerateS3PresignedUrlLambda.ts
  iac/lambda/IdentifyPlantLambda.ts
  src/core/utils/Environment.ts
  src/modules/presignedUrl/interface/handlers/GenerateS3PresignedUrlHandler.ts
Due: yarn lint:fix, yarn format

docs: update dev steps
  README.md
  src/modules/plan/interface/controllers/IdentifyPlantController.ts
Due: yarn lint:fix, yarn format

feat: add github actions
  .github/workflows/deploy.yaml
  .github/workflows/iam/create-role
  .github/workflows/iam/trust-policy.json
Due: yarn format

ci: update github actions versions
  .github/workflows/deploy.yaml
Due: none

feat: update bucket name
  .yarn/install-state.gz
  iac/core/Environment.ts
Due: yarn lint:fix, yarn format

test: add unit tests
  test/environment.test.ts
  test/src/core/utils/core.environment.test.ts
  test/src/core/utils/logger.test.ts
  test/src/core/utils/metrics_tracer.test.ts
  test/src/modules/plan/app/identify_plant_use_case.test.ts
  test/src/modules/plan/infrastructure/services/openai_service.test.ts
  test/src/modules/plan/infrastructure/services/plant_image_analyze_openai.test.ts
  test/src/modules/plan/infrastructure/services/s3_service.test.ts
  test/src/modules/plan/interface/controllers/controllers.test.ts
  test/src/modules/plan/interface/handlers/handlers_plan.test.ts
  test/src/modules/presignedUrl/interface/handlers/presigned_handler.test.ts
Due: yarn lint:fix, yarn format

ci: add multiple steps
  .github/workflows/deploy.yaml
Due: none

updated dependencies version and node version
  .github/workflows/deploy.yaml
  .nvmrc
  .yarn/install-state.gz
  iac/core/BaseLambdaFunction.ts
  iac/lambda/GeneratePlanLambda.ts
  iac/lambda/GenerateS3PresignedUrlLambda.ts
  iac/lambda/IdentifyPlantLambda.ts
  package.json
  yarn.lock
Due: yarn lint:fix, yarn format

fix: update bucket name references
  .yarn/install-state.gz
  esbuild.ts
  iac/lambda/GenerateS3PresignedUrlLambda.ts
  iac/lambda/IdentifyPlantLambda.ts
  package.json
  src/modules/plan/infrastructure/services/S3Service.ts
Due: yarn lint:fix, yarn format

feat: print outputs
  iac/plant_water_planner_core-stack.ts
Due: yarn lint:fix, yarn format

chore: homogenize name convention for resources
  iac/core/Environment.ts
  iac/plant_water_planner_core-stack.ts
Due: yarn lint:fix, yarn format

test: delete env test
  test/environment.test.ts
Due: yarn lint:fix, yarn format

chore: homogenize name convention for resources
  .github/workflows/deploy.yaml
  .github/workflows/iam/trust-policy.json
  .husky/commit-msg
  .husky/pre-push
  PlantWaterPlanner.postman_collection.json
  README.md
  cdk.json
  docker-compose.yml
  eslint.config.mjs
  iac/lambda/GeneratePlanLambda.ts
  iac/lambda/GenerateS3PresignedUrlLambda.ts
  iac/lambda/IdentifyPlantLambda.ts
  jest.config.js
  test/plant_water_planner_core.test.ts
  test/src/core/utils/core.environment.test.ts
  test/src/core/utils/logger.test.ts
  test/src/core/utils/metrics_tracer.test.ts
  test/src/modules/plan/app/identify_plant_use_case.test.ts
  test/src/modules/presignedUrl/interface/handlers/presigned_handler.test.ts
  tsconfig.json
Due: yarn lint:fix, yarn format

chore: homogenize name convention for resources
  .husky/pre-push
Due: none

test: add coverage
  jest.config.js
Due: none

chore: clean up
  .gitignore
  test/plant_water_planner_core.test.ts
Due: yarn lint:fix, yarn format

fix: bucket name
  iac/plant_water_planner_core-stack.ts
Due: yarn lint:fix, yarn format

chore: lint
  jest.config.js
Due: none
